[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "bf/themes/blowfish"]
	path = bf/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
